<body>
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <!-- Marque de la navbar -->
        <a class="navbar-brand" routerLink="/">CRM</a>
  
        <!-- Drop-down Menu -->
        <button class="btn btn-secondary dropdown-toggle menu-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="../patientss" routerLink="../patientss">Gérer les patients</a></li>
          <!-- Autres éléments de menu peuvent être ajoutés ici -->
        </ul>
  
        <!-- Bouton Menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Contenu de la navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- Liens de la navbar à gauche -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <button class="nav-link" routerLink="/superadmin">Dashboard Super Admin</button>
            </li>
          </ul>
  
          <!-- Liens de la navbar à droite -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile">{{ username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" (click)="logout()">Déconnexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile">
                <mat-icon>person</mat-icon>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com" target="_blank">
                <mat-icon style="color: blue;">facebook</mat-icon>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/chat">
                <mat-icon style="color: green;">chat</mat-icon>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/email-list">
                <mat-icon style="color: red;">email</mat-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="Login">
    <router-outlet></router-outlet>
  </div>
  
  
</body>
