<!-- navbar.component.html -->
<div id="app">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <!-- Marque de la navbar -->
      <a class="navbar-brand" routerLink="/">CRM</a>
      <!-- Bouton Réseaux Sociaux -->
      <button href="../patientss"class="reseau-button" href="../patientss" routerLink="../../patientss">
        Gérer les patients
      </button>
      <!-- Bouton Menu -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Contenu de la navbar -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Liens de la navbar à gauche -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button class="nav-link" routerLink="../Secretaire">Dashboard Secretaire</button>
          </li>
        </ul>
        <!-- Liens de la navbar à droite -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" (click)="logout()">Déconnexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">
              <mat-icon>person</mat-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com" target="_blank">
              <mat-icon style="color: blue;">facebook</mat-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chat">
              <mat-icon style="color: green;">chat</mat-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/email-list">
              <mat-icon style="color: red;">email</mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<div class="container">
    <h2>{{ patient.id ? 'Modifier' : 'Ajouter' }} un Patient</h2>
    <form (ngSubmit)="savePatient(patientForm)" #patientForm="ngForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" id="nom" [(ngModel)]="patient.nom" name="nom" class="form-control" required>
            <div *ngIf="validationErrors.nom" class="invalid-feedback d-block">{{ validationErrors.nom }}</div>
          </div>
  
          <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" id="prenom" [(ngModel)]="patient.prenom" name="prenom" class="form-control" required>
            <div *ngIf="validationErrors.prenom" class="invalid-feedback d-block">{{ validationErrors.prenom }}</div>
          </div>
  
          <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" id="age" [(ngModel)]="patient.age" name="age" class="form-control" required>
            <div *ngIf="validationErrors.prenom" class="invalid-feedback d-block">{{ validationErrors.prenom }}</div>
          </div>
  
          <div class="form-group">
            <label for="telephone">Téléphone:</label>
            <input type="text" id="telephone" [(ngModel)]="patient.telephone" name="telephone" class="form-control"required>
            <div *ngIf="validationErrors.prenom" class="invalid-feedback d-block">{{ validationErrors.prenom }}</div>
          </div>
  
          <div class="form-group">
            <label for="adresse">Adresse:</label>
            <input type="text" id="adresse" [(ngModel)]="patient.adresse" name="adresse" class="form-control"required>
            <div *ngIf="validationErrors.prenom" class="invalid-feedback d-block">{{ validationErrors.prenom }}</div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="form-group">
            <label for="nationalite">Nationalité:</label>
            <input type="text" id="nationalite" [(ngModel)]="patient.nationalite" name="nationalite" class="form-control" required>
            <div *ngIf="validationErrors.prenom" class="invalid-feedback d-block">{{ validationErrors.prenom }}</div>
          </div>
  
          <div class="form-group">
            <label for="canalTraitement">Canal de Traitement:</label>
            <input type="text" id="canalTraitement" [(ngModel)]="patient.canalTraitement" name="canalTraitement" class="form-control" required>
            <div *ngIf="validationErrors.prenom" class="invalid-feedback d-block">{{ validationErrors.prenom }}</div>
          </div>
  
          <div class="form-group">
            <label for="source">Source:</label>
            <input type="text" id="source" [(ngModel)]="patient.source" name="source" class="form-control"required>
            <div *ngIf="validationErrors.prenom" class="invalid-feedback d-block">{{ validationErrors.prenom }}</div>
          </div>
  
          <div class="form-group">
            <label for="dateTraitement">Date de Traitement:</label>
            <input type="datetime-local" id="dateTraitement" [(ngModel)]="patient.dateTraitement" name="dateTraitement" class="form-control"required>
            <div *ngIf="validationErrors.prenom" class="invalid-feedback d-block">{{ validationErrors.prenom }}</div>
          </div>
  
          <div class="form-group">
            <label for="dateRDV">Date de RDV:</label>
            <input type="datetime-local" id="dateRDV" [(ngModel)]="patient.dateRDV" name="dateRDV" class="form-control" required>
            <div *ngIf="validationErrors.prenom" class="invalid-feedback d-block">{{ validationErrors.prenom }}</div>
          </div>
  
          <div class="form-group">
            <label for="facebookLink">Lien Facebook (optionnel):</label>
            <input type="text" id="facebookLink" [(ngModel)]="patient.facebookLink" name="facebookLink" class="form-control">
          </div>
  
          <div class="form-group">
            <label for="whatsappNum">Numéro WhatsApp (optionnel):</label>
            <input type="text" id="whatsappNum" [(ngModel)]="patient.whatsappNum" name="whatsappNum" class="form-control">
          </div>
  
          <div class="form-group">
            <label for="numDossier">Numéro de Dossier:</label>
            <input type="text" id="numDossier" [(ngModel)]="patient.numDossier" name="numDossier" class="form-control" required>
            <div *ngIf="validationErrors.numDossier" class="invalid-feedback d-block">{{ validationErrors.numDossier }}</div>
          </div>
  
          <div class="form-group">
            <label for="adresseMail">Adresse Mail (optionnel):</label>
            <input type="email" id="adresseMail" [(ngModel)]="patient.adresseMail" name="adresseMail" class="form-control">
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ patient.id ? 'Mettre à jour' : 'Enregistrer' }}</button>
      </div>
  
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    </form>
  </div>
  