<!-- <div class="container">
    <div class="widget-container">
      <mat-card class="widget">
        <mat-card-title>Gestion des Clients</mat-card-title>
        <mat-card-content>
          <p>Accédez à la gestion des clients ici.</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="widget">
        <mat-card-title>Gestion des Réseaux Sociaux</mat-card-title>
        <mat-card-content>
          <p>Accédez à la gestion des réseaux sociaux ici.</p>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="stats-container">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
      </ngx-charts-bar-vertical>
    </div>
  </div>
   -->