/* .container {
    padding: 20px;
  }
  
  .widget-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .widget {
    width: 45%;
  }
  
  .stats-container {
    width: 100%;
  }
   */