<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- Marque de la navbar -->
    <a href="#" class="navbar-brand">CRM</a>

    <!-- Bouton Menu -->
    <button class="btn btn-secondary dropdown-toggle menu-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Menu
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="../reseaux_sociaux" routerLink="../reseaux-sociaux">Gérer les réseaux sociaux</a></li>
      

    </ul>

    <!-- Liens de la navbar à gauche -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="../Super_Admin" class="nav-link" routerLink="../Super_Admin">Dashboard Super Admin</a>
      </li>
    </ul>

    <!-- Liens de la navbar à droite -->
    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="../profile">{{ username }}</a>
        </li>
        <li class="nav">
          <a href="/profile" class="nav-link" routerLink="../profile">
            <img src="../../assets/person.svg" alt="profile" class="profile-icon"><!-- Icône de profil -->
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
