<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- Marque de la navbar -->
    <a href="#" class="navbar-brand">CRM</a>

    <!-- Bouton Réseaux Sociaux -->
    <button class="reseau-button">
      Réseaux Sociaux
    </button>

    <!-- Liens de la navbar à gauche -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="../Super_Admin" class="nav-link" routerLink="../Super_Admin">Dashboard Super Admin</a>
      </li>
    </ul>

    <!-- Liens de la navbar à droite -->
    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav">
          <a href="/profile" class="nav-link" routerLink="../profile">
            <img src="../../assets/person.svg" alt="profile" class="profile-icon"><!-- Icône de profil -->
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
  <div class="chat-container">
    <!-- Colonne pour la liste des discussions -->
    <div class="chat-list-column">
      <div class="chat-list-container">
        <h3>Discussions</h3>
        <ul class="chat-list">
          <li *ngFor="let chat of chats" (click)="selectChat(chat)">
            <!-- Affichage initial du numéro de téléphone -->
            <p>Numéro de téléphone: +{{ getPhoneNumberFromChat(chat)}}</p>
            <!-- Afficher le nom si disponible après enregistrement -->
            <p *ngIf="chat.name">Nom de contact: {{ chat.name }}</p>
            <!-- Bouton pour enregistrer le nom -->
            <button *ngIf="!chat.name" (click)="registerName(chat)" class="butt">Enregistrer Nom</button>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- Colonne pour la fenêtre de discussion -->
    <div class="chat-window-column">
      <div *ngIf="selectedChat" class="chat-window">
        <h3>Discussion avec {{ selectedChat.name ? selectedChat.name : getPhoneNumberFromChat(selectedChat) }}</h3>
        <ul class="message-list">
          <li *ngFor="let message of messages" [ngClass]="{
            'message-sent': message.is_sender === 1,
            'message-received': message.is_sender === 0
          }">
            <span *ngIf="message.is_sender === 1" class="message-sent-text">
              {{ message.text }}
              <span *ngIf="hasAttachment(message)" class="attachment-info-send"> !!! This message contains an attachment !!!</span>
            </span>
            <span *ngIf="message.is_sender === 0" class="message-received-text">
              {{ message.text }}
              <span *ngIf="hasAttachment(message)" class="attachment-info"> !!! This message contains an attachment !!!</span>
            </span>
          </li>
        </ul>
    
        <div class="message-input">
          <input [(ngModel)]="text" placeholder="Enter your message">
          <button (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
