/* Style pour le formulaire centré et transparent */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* S'assure que le conteneur prend toute la hauteur de la page */
  background: rgba(235, 234, 234, 0.5); /* Couleur de fond pour toute la page */
}

.card-container.card {
  background-color: rgba(255, 255, 255, 0.368); /* Fond transparent du formulaire */
  padding: 55px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
}

.btn-primary {
  background-color:rgb(239, 238, 238);
  border-color: #2b2c2c6e;
  color: #224264;
  margin-top: 10%;
}

.btn-primary:hover {
  background-color: #224264;
  color: rgb(255, 255, 255);
  border-color: #224264;
}
.form-control{
  background-color: rgb(239, 238, 238);
  color: black;
}