<!-- navbar.component.html -->
<!-- navbar.component.html -->
<div id="app">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <!-- Marque de la navbar -->
      <a class="navbar-brand" routerLink="/">CRM</a>
      <!-- Bouton Réseaux Sociaux -->
      <button href="../patientss" class="reseau-button" routerLink="../../patientss">
        Gérer les patients
      </button>
      <!-- Bouton Menu -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Contenu de la navbar -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Liens de la navbar à gauche -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button class="nav-link" routerLink="../Secretaire">Dashboard Secretaire</button>
          </li>
        </ul>
        <!-- Liens de la navbar à droite -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" (click)="logout()">Déconnexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">
              <mat-icon>person</mat-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com" target="_blank">
              <mat-icon style="color: blue;">facebook</mat-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chat">
              <mat-icon style="color: green;">chat</mat-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/email-list">
              <mat-icon style="color: red;">email</mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>



<div class="container">
  <h2>Mettre à jour le Patient</h2>
  <form #patientForm="ngForm" (ngSubmit)="updatePatient()" class="needs-validation" novalidate>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" [(ngModel)]="patient.nom" name="nom" required>
      <div class="invalid-feedback">
        Nom est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input type="text" class="form-control" id="prenom" [(ngModel)]="patient.prenom" name="prenom" required>
      <div class="invalid-feedback">
        Prénom est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" id="age" [(ngModel)]="patient.age" name="age" required>
      <div class="invalid-feedback">
        Age est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="telephone">Téléphone</label>
      <input type="text" class="form-control" id="telephone" [(ngModel)]="patient.telephone" name="telephone" required>
      <div class="invalid-feedback">
        Téléphone est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" class="form-control" id="adresse" [(ngModel)]="patient.adresse" name="adresse" required>
      <div class="invalid-feedback">
        Adresse est requise.
      </div>
    </div>

    <div class="form-group">
      <label for="nationalite">Nationalité</label>
      <input type="text" class="form-control" id="nationalite" [(ngModel)]="patient.nationalite" name="nationalite">
    </div>

    <div class="form-group">
      <label for="canalTraitement">Canal de Traitement</label>
      <input type="text" class="form-control" id="canalTraitement" [(ngModel)]="patient.canalTraitement" name="canalTraitement">
    </div>

    <div class="form-group">
      <label for="source">Source</label>
      <input type="text" class="form-control" id="source" [(ngModel)]="patient.source" name="source">
    </div>

    <div class="form-group">
      <label for="dateTraitement">Date de Traitement</label>
      <input type="datetime-local" class="form-control" id="dateTraitement" [(ngModel)]="patient.dateTraitement" name="dateTraitement">
    </div>

    <div class="form-group">
      <label for="dateRDV">Date de RDV</label>
      <input type="datetime-local" class="form-control" id="dateRDV" [(ngModel)]="patient.dateRDV" name="dateRDV">
    </div>

    <div class="form-group">
      <label for="facebookLink">Lien Facebook</label>
      <input type="text" class="form-control" id="facebookLink" [(ngModel)]="patient.facebookLink" name="facebookLink">
    </div>

    <div class="form-group">
      <label for="whatsappNum">Numéro WhatsApp</label>
      <input type="text" class="form-control" id="whatsappNum" [(ngModel)]="patient.whatsappNum" name="whatsappNum">
    </div>

    <div class="form-group">
      <label for="numDossier">Numéro de Dossier</label>
      <input type="text" class="form-control" id="numDossier" [(ngModel)]="patient.numDossier" name="numDossier">
    </div>

    <div class="form-group">
      <label for="adresseMail">Adresse Mail</label>
      <input type="email" class="form-control" id="adresseMail" [(ngModel)]="patient.adresseMail" name="adresseMail">
    </div>

    <button type="submit" class="btn btn-primary">Mettre à jour</button>
  </form>
  <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
</div>
