<div id="app">
  <mat-toolbar color="primary" class="navbar-light">
    <span>CRM</span>
    <span class="spacer"></span>
    <button mat-button [routerLink]="['../', currentUser?.role]">Dashboard {{ currentUser?.role }}</button>
  </mat-toolbar>

  <div class="container" *ngIf="currentUser; else loggedOut">
    <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title>Profil de {{ currentUser.nom }} {{ currentUser.prenom }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><mat-icon>email</mat-icon> Email: {{ currentUser.email }}</p>
        <p><mat-icon>location_on</mat-icon> Adresse: {{ currentUser.adresse }}</p>
        <p><mat-icon>calendar_today</mat-icon> Age: {{ currentUser.age }}</p>
        <p><mat-icon>assignment_ind</mat-icon> Rôle: {{ currentUser.role }}</p>
        <!-- Autres informations du profil -->
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #loggedOut>
    <div class="logged-out-message">
      <p>Veuillez vous connecter.</p>
    </div>
  </ng-template>
  <div class="Login">
    <router-outlet></router-outlet>
  </div>
</div>
