#app {
  font-family: Arial, sans-serif;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(33,37,41); /* Couleur noire pour la barre de navigation */
  color: #fff; /* Couleur du texte */
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.profile-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.logged-out-message {
  text-align: center;
  margin-top: 50px;
}

.spacer {
  flex: 1 1 auto;
}
